/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    height: 100%;
    min-height: 100%;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eda600+0,f7f260+100 */
    background: rgb(237, 166, 0);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237, 166, 0, 1) 0%, rgba(247, 242, 96, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(237, 166, 0, 1) 0%, rgba(247, 242, 96, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(237, 166, 0, 1) 0%, rgba(247, 242, 96, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eda600', endColorstr='#f7f260', GradientType=0);
    /* IE6-9 */
}

.map-game-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 678px;
    margin-top: 100px;
}

.map-game-wrapper .map-progress-bar .progress {
    border-radius: 0;
    margin-bottom: 0;
    height: 30px;
    width: 678px;
    position: relative;
    border: 0;
    background-color: #636363;
    box-shadow: inset 0px -2px 8px 5px rgba(0, 0, 0, 0.15);
}

.map-game-wrapper .map-progress-bar .progress .progress-bar {
    background-image: none;
    background-color: #28b62c;
    -webkit-transition: width .6s ease, background-color 1s ease;
    -o-transition: width .6s ease, background-color 1s ease;
    transition: width .6s ease, background-color 1s ease;
    box-shadow: inset 0px -2px 8px 5px rgba(0, 0, 0, 0.15);
}

.map-game-wrapper .no-transitions {
    transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
}

.map-game-wrapper .map-progress-bar .progress .timer {
    color: white;
    position: absolute;
    left: 50%;
    top: 3px;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 0 3px #000;
}

.map-game-wrapper .map-content {
    position: relative;
    width: 678px;
    height: 494px;
    background-image: url('../img/map4.png');
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.05);
}

.map-game-wrapper .map-content .map-backdrop {
    background-color: rgba(0, 0, 0, 0.07);
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
}

.map-game-wrapper .map-content .btn {
    font-size: 16px;
}

.map-game-wrapper .map-content .modal {
    overflow: visible;
}

.map-game-wrapper .map-content .modal.modal-start {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.map-game-wrapper .map-content .modal.modal-mid-game {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}

.map-game-wrapper .map-content .modal.modal-gameover {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}

.map-game-wrapper .map-content .modal .modal-dialog {
    margin: 30px auto;
    text-align: center;
    width: 400px;
}

.map-game-wrapper .map-content .modal .modal-dialog .modal-content {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+1,ffffff+100 */
    background: rgb(226, 226, 226);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 1%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 1%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 1%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    border: 3px solid #23a127;
}

.map-game-wrapper .map-content .modal-start,
.map-game-wrapper .map-content .modal-mid-game,
.map-game-wrapper .map-content .modal-gameover {
    display: none;
}

.map-game-wrapper .map-content .modal-mid-game .question-details,
.map-game-wrapper .map-content .modal-gameover .game-results {
    border-bottom-width: 1px;
}

.map-game-wrapper .map-content .modal-mid-game .question-details h3,
.map-game-wrapper .map-content .modal-gameover .game-results h3 {
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
}

.map-game-wrapper .map-content .marker-guess,
.map-game-wrapper .map-content .marker-answer,
.map-game-wrapper .map-content .shadow {
    position: absolute;
    display: none;
}

.map-game-wrapper .map-content .shadow {
    margin-left: -12px;
    margin-top: -7px;
    display: block;
    background: url(../img/shadow.png);
    width: 39px;
    height: 16px;
}

.map-game-wrapper .map-content .marker-guess {
    margin-top: -45px;
    margin-left: -7px;
}

.map-game-wrapper .map-content .marker-answer {
    margin-top: -45px;
    margin-left: -7px;
}

.map-game-wrapper .map-content .coords {
    position: absolute;
    bottom: 25px;
    left: 10px;
}

.map-game-wrapper .map-content .question-counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    color: #545454;
}

.map-game-wrapper .map-footer {
    height: 100px;
    background-color: rgba(222, 222, 222, 1);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dedede+100 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(222, 222, 222, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(222, 222, 222, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(222, 222, 222, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede', GradientType=0);
    /* IE6-9 */
    position: relative;
}

.map-game-wrapper .map-footer .game-score {
    padding: 5px 0 0 50px;
    width: 200px;
    float: left;
}

.map-game-wrapper .map-footer .game-score span {
    font-size: 16px;
    font-weight: bold;
    color: #9a9a9a;
}

.map-game-wrapper .map-footer .game-score .game-score-text {
    font-size: 50px;
    margin-top: 0;
    font-weight: bold;
    line-height: 0.9em;
    transition: all 0.3s;
}

@keyframes bump {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.bump-animate {
    animation: bump 0.3s;
}

.map-game-wrapper .map-footer .question-container {
    text-align: center;
    width: 340px;
    height: 100%;
    float: left;
}


/*.map-game-wrapper .question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    background-color: white;
    padding: 30px;
    transition: all 0.5s;
}*/

.map-game-wrapper .question .question-main-field {
    font-size: 40px;
    font-weight: bold;
    color: #333333;
    margin: 0;
    word-wrap: break-word;
    line-height: 0.8em;
    margin-top: 10px;
}

.map-game-wrapper .question .question-secondary-field {
    font-size: 25px;
    font-weight: normal;
    color: #636363;
    margin: 0;
}

.map-game-wrapper .cool-text-shadow {
    text-shadow: 0 1px 0 rgb(204, 204, 204), 0 2px 0 rgb(201, 201, 201), 0 3px 0 rgb(187, 187, 187), 0 4px 0 rgb(185, 185, 185), 0 5px 0 rgb(170, 170, 170), 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.1);
}

.fontsize40 {
    font-size: 40px;
}

.fontsize30 {
    font-size: 30px;
}

.fontsize25 {
    font-size: 25px;
}

.fontsize20 {
    font-size: 20px;
}

.fontsize15 {
    font-size: 15px;
}